body {
    background-color: #FFF5E4;
   }
   h1 {
     color: #A9907E;
   }

   h3 {
    color: #A9907E;
   }

   hr  {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 3px;
    width: 5%;
   }